<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Voting System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="cont d-grid position-absolute top-50 start-50 translate-middle gap-4">
        <h2 class="bgImg gap-4">&emsp; &emsp; Welcome to <br> Online Voting System</h2>
        <div class="d-flex align-items-center justify-content-center gap-5">
            <form action="/voter" class="d-flex gap-3" method="GET">
                <button type="submit" class="btn btn-primary rounded-pill" onclick="{{ url_for('voterId_get') }}">Voter's Login</button>
            </form>
            <form action="/admin" class="d-flex gap-3" method="GET">
                <button type="submit" class="btn btn-primary rounded-pill" onclick="{{ url_for('admin_get') }}">Admin Login</button>
            </form>
        </div>
    </div>
    

</body>
</html>